POSTGRES_USER=user
POSTGRES_PASSWORD=user
POSTGRES_DB=ttt_db
# Порт, на котором PostgreSQL будет доступен снаружи
POSTGRES_PORT=5432

# Порт, на котором ваше FastAPI-приложение будет доступно снаружи
APP_PORT=8000